# This debian-installer file format is documented at
#  https://www.debian.org/releases/stable/amd64/apbs04.html.en
# Localization

d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Network configuration


#d-i netcfg/choose_interface select enP2p1s0f1
d-i netcfg/dhcp_timeout string 60
d-i netcfg/choose_interface select auto

d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

# Mirror settings
d-i mirror/country string UK
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Account setup
# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean false

# repalce username with yours
d-i passwd/user-fullname string username
d-i passwd/username string username
# replace CRYPTED-PASSWORD with output from mkpasswd -m sha-512
d-i passwd/user-password-crypted password CRYPTED-PASSWORD

# Clock and time zone setup

d-i clock-setup/utc boolean true
d-i time/zone string GMT
d-i clock-setup/ntp boolean true

# Partitioning

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Package selection

tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/upgrade select full-upgrade 

popularity-contest popularity-contest/participate boolean false

# Misc options
d-i finish-install/reboot_in_progress note
